<navbarmain></navbarmain>

<div class="main">
  <div class="right">
      <div class="right1">

      </div>
  </div>

  <div class="left">
      <div class="left1">

      </div>
  </div>

  <div class="simple">
    <div class="simple1">
      <img src="../../assets/simple.svg" class="img-responsive" width="72%"/>
    </div>
  </div>

  <div class="line">
    <div class="line1">
      <img src="../../assets/Line 3.svg" class="img-responsive" width="45%" height="15%"/>
    </div>
  </div>

  <div class="hands">
    <div class="hands1">
      <img class="hands2" src="../../assets/collect_img-video.png" class="img-responsive" width="45%" height="7.5%"/>
    </div>
  </div>

  <div class="dots">
    <div class="dots1">
      <img src="../../assets/accounting_dots.svg" class="img-responsive" width="44.5%" height="13%"/>
    </div>
    <div class="dots2">
      <img src="../../assets/accounting_dots.svg" class="img-responsive" width="120%" height="13%"/>
    </div>
  </div>

  <div class="calci">
    <div class="calci1">
      <img src="../../assets/Group 6.svg" class="img-responsive" width="100%" height="13%"/>
    </div>
  </div>

  <div class="waveBG">
  </div>
    <div class="quickcash">
    <div class="quickcash1">
      <div class="hover-overlay1">
      <div class="cash">
        <img src="../../assets/Get Paid Instantly.png" class="img-responsive" width="85px" height="85px" top="2201px" left="225px"/>
      </div>
      <div class="quicktext1">
        <p width="120%">Quick cash disbursement</p>
      </div>
      <div class="terms1">
        <p>Get terms loans that your business needs within 72 hrs</p>
      </div>
      </div>
    </div>
  </div>

    <div class="quickcash2">
      <div class="hover-overlay1">
      <div class="cash">
        <img src="../../assets/Low interest rate.png" class="img-responsive" width="85px" height="85px" top="2201px" left="225px"/>
      </div>
      <div class="quicktext1">
        <p width="120%">Low-interest rate</p>
      </div>
      <div class="terms1">
        <p>Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
      </div>
      </div>
    </div>

    <div class="quickcash3">
      <div class="hover-overlay1">
      <div class="cash">
        <img src="../../assets/Secure Payments.png" class="img-responsive" width="85px" height="85px" top="2201px" left="225px"/>
      </div>
      <div class="quicktext1">
        <p width="120%">Zero Paperwork</p>
      </div>
      <div class="terms1">
        <p>Get started instantly by submitting only your basic details & bank statements</p>
      </div>
      </div>
    </div>

    <div class="quickcash4">
      <div class="hover-overlay2">
      <div class="cash">
        <img src="../../assets/freelancer_feature_icon_6@1.5x.png" class="img-responsive" width="85px" height="85px" top="2201px" left="225px"/>
      </div>
      <div class="quicktext2">
        <p width="120%">Ace your business finances</p>
      </div>
      <div class="terms2">
        <p>Manage banking, accounting & everything in between, on one platform</p>
      </div>
      </div>
    </div>

    <div class="quickcash5">
      <div class="hover-overlay3">
      <div class="cash">
        <img src="../../assets/Covid.png" class="img-responsive" width="85px" height="85px" top="2201px" left="225px"/>
      </div>
      <div class="quicktext2">
        <p width="120%">Loans to fight COVID-19</p>
      </div>
      <div class="terms2">
        <p>Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
      </div>
      </div>
    </div>


</div>

