.main{
  background-color: white;
  width: 100%;
  height: 2145px;
  background: 0% 0% no-repeat padding-box;
  opacity: 1;
  top:0px;
  position:relative;
  left:0px;
  right:20%;
  overflow-y: visible;
  overflow-x:hidden;
}
.right{
  width:960px;
  height: 1072px;
}
.right1{
background-image: url("../../assets/circle.svg");
margin-top: -400px;
opacity: 1;
transform: matrix(0.12, -0.99, 0.99, 0.12, 0, 0);
margin-left: 590px;
background-size: 95%;
background-repeat: no-repeat;
width: 115%;
height: 110%;
image-resolution: 40%;
}
.right2{
top: -227.9068603515625px !important;
left: 852px;
width: 1183px;
height: 1192px;
transform: matrix(0.12, -0.99, 0.99, 0.20, 0, 0);
background: transparent 0% 0% no-repeat padding-box;
opacity: 0.5;
}
.left{
  width: 571px;
  height: 572px;
}
.left1{
margin-top: -100%;
margin-left: -12%;
width: 80%;
height: 80%;
background-size: 98%;
background-repeat: no-repeat;
image-resolution: 40%;
background-image: url("../../assets/blob-small.svg");
opacity: 1;
}
.simple{
width: 407px;
height: 98px;
}
.simple1{
background-image: url("../../assets/simple.svg");
margin-left: 24%;
margin-top: -163%;
width: 190%;
height: 80%;
background-repeat: no-repeat;
background-size: 110%;
image-resolution: 40%;
background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
}
.line{
  margin-top: 2.5%;
}
.line1{
  margin-left: 92px;
  opacity: 0.7;
  height: 60px;
  width: 450px;
  border-radius: 13px;
  max-zoom: 490%;
  background: 0% 0% no-repeat padding-box;
}
.hands1{
  margin-left: 4.4%;
  margin-top: 5%;
  z-index: 0;
  position: relative;
}
.dots1{
  margin-left: 20%;
  margin-top: -2.5%;
}
.dots2{
  margin-left: 71%;
  margin-top: 2%;
}
.calci1{
  margin-top: -46.5%;
  margin-left: 50.8%;
  z-index: 1;
  width:30%;
  height: 145%;
  background-color: #FFFFFF;
  position: relative;
}
.card.text-center{
  border-radius: 25px;
}
.card-header{
  font-size: 22px;
  border-style: hidden;
}
.ranges1{
  text-align: left;
  margin-left: -75%;
  font-size: 15px;
  color:#777777;
  font-family: Arial, Helvetica, sans-serif;
}
.ranges2{
  text-align: left;
  margin-left: -70%;
  margin-top: 5%;
  font-size: 15px;
  color:#777777;
  font-family: Arial, Helvetica, sans-serif;
}
.rupee1{
  float: left;
  font-size: 25px;
  margin-top: -1%;
}
.rupee2{
  float: left;
  font-size: 25px;
  margin-top: -1%;
  margin-left: -1%;
}
.textrange{
  margin-left: -6%;
}
.rangetext1{
  border-color: #FFFFFF;
  opacity: 1;
  color: #222222;
  box-shadow: #FFFFFF;
  outline: none;
  border: none;
  font-size: 25px;
  margin-left: -26%;
  margin-top: -1%;
}
.rangetext2{
  border-color: #FFFFFF;
  opacity: 1;
  color: #222222;
  box-shadow: #FFFFFF;
  outline: none;
  border: none;
  font-size: 25px;
  margin-left: -27%;
  margin-top: -1%;
}
.range1{
  width: 100%;
}
.range2{
  float: center;
  width: 100%;
  margin-top: -5%;
  margin-left: -30%;
}
.labels1{
  float: left;
  color:gray;
  font-size: 16px;
  margin-left: 4%;
  margin-top: -2%;
}
.labels2{
  float: right;
  color:gray;
  font-size: 16px;
  margin-right: 5%;
  margin-top: -2%;
}
.expense{
  margin-top: 5%;
  margin-left: 1%;
}

.dropdown-menu{
  margin-top: 45%;
}
.repay{
  float: left;
  margin-left: 1%;
  font-size: 15px;
  color:#777777;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4%;
}
.tenureselect{
  width: 90%;
  border-style: none;
   position: relative;
  display: inline-block;
}
.loans{
  margin-top: 8%;
  margin-left: 2%;
  color: #777777;
}
.loans1{
  float: left;
}
.loans2{
  float: right;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  width: 80%;
  height: 70%;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#663399;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  right: 28px;
  bottom: 3px;
  background-color:white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:grey;
}

input:focus + .slider {
  box-shadow: 0 0 1px #663399;
  background-color:#663399;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  color:#663399;
}

.slider.round {
  border-radius: 34px;
  background-color: #777777;
}

.slider.round:before {
  border-radius: 50%;
}
.EMI{
  border-style: none;
  font-size: 15px;
  margin-top: 8%;
  color:#777777;
  margin-left: -25%;
}
.emi2{
  width: 310px;
  height: 50px;
  float: center;
  margin-left: 4%;
  border-style: none;
  border-radius: 1px;
  border-color: transparent;
}
.loans3{
  margin-left: -14%;
  font-size: 15px;

}

.line4{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 90%;
}
.line5{
  display: block;
  margin-top: 2%;
  margin-bottom: 0.5em;
  margin-left: 22%;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 75%;
  float: center;
}
.emi2{
  margin-top: 3%;
  border-style: none;
  font-size: 28px;
  margin-bottom: -2%;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  float: center;
  width: 90%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.5px;
  cursor: pointer;
  background:whitesmoke;
}
input[type=range]::-webkit-slider-thumb {
  border: 5px solid #FFFFFF;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background:#663399;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background:#663399;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4.5px;
  cursor: pointer;
  background: whitesmoke;
  border-radius: 1.3px;
}
input[type=range]::-moz-range-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background:#663399;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4.5px;
  cursor: pointer;
  border-width: 16px 0;
}
input[type=range]::-ms-fill-lower {
  background: #663399;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background:whitesmoke;
}
input[type=range]::-ms-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background:#663399;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #663399;
}
/* input[type=range]:focus::-ms-fill-upper {
  background:#663399;
} */




.quickcash1{
  margin-top: -69%;
}
.cash{
  margin-top: 5%;
  margin-left: 6%;
  opacity: 1;
  margin-bottom: 6px;
}
/* .quicktext{
  margin-left: 6%;
  font-family: Montserrat-SemiBold;
font-size: 22px;
text-align: left;
margin-right: 4%;
} */
/* .hover-overlay{
  background-color: #F9F9F9;
  box-shadow: 0px 0px 30px #2321321F;
border: 1px solid #FFFFFF;
border-radius: 20px;
opacity: 100%;
border-color: #FFFFFF;
width: 330px;
 height: 245px;
  top: 1450px;
 margin-left: 65px;
}
.hover-overlay:hover{
  background-color: #9F62C9;
    opacity: .5;
  color: #FFFFFF;

} */
/* .terms{
  margin-left: 6%;
  margin-right: 4%;
  margin-top: 1px;
  font-size: 17px;
} */
.hover-overlay1{
  background-color: #F9F9F9;
  box-shadow: 0px 0px 30px #2321321F;
border: 1px solid #FFFFFF;
border-radius: 20px;
opacity: 100%;
border-color: #FFFFFF;
width: 330px;
 height: 245px;
 top: 1650px;
 margin-left: 65px;
 margin-top: -2%;
 margin-bottom: 5%;
 z-index: 1;
}
.hover-overlay1:hover{
  background-color: #9F62C9;
    opacity: .5;
  color: #FFFFFF;
  z-index: 1;
}
.terms1{
  margin-left: 6%;
margin-bottom: 1px;
margin-right: 4%;
font-size: 19px;
z-index: 1;
color: #777777;
}
.terms1:hover{
  color: white;
}
.quicktext1{
  margin-left: 6%;
  font-family: Montserrat-SemiBold;
font-size: 21px;
text-align: left;
margin-right: 4%;
z-index: 1;
}
.hover-overlay2{
  background-color: #F9F9F9;
  box-shadow: 0px 0px 30px #2321321F;
border: 1px solid #FFFFFF;
border-radius: 20px;
opacity: 100%;
border-color: #FFFFFF;
width: 330px;
 height: 245px;
 top: 30%;
 margin-left: 31.5%;
 margin-top: -52%;
 margin-bottom: 3%;
 z-index: 1;
}
.hover-overlay2:hover{
  background-color: #9F62C9;
    opacity: .5;
  color: #FFFFFF;
  z-index: 1;
}
.terms2{
  margin-left: 6%;
margin-bottom: 1px;
margin-right: 4%;
font-size: 19px;
z-index: 1;
color: #777777;
}
.terms2:hover{
  color: white;
}

.quicktext2{
  margin-left: 6%;
  font-family: Montserrat-SemiBold;
font-size: 21px;
text-align: left;
margin-right: 4%;
z-index: 1;
}
.hover-overlay3{
  background-color: #F9F9F9;
  box-shadow: 0px 0px 30px #2321321F;
border: 1px solid #FFFFFF;
border-radius: 20px;
opacity: 100%;
border-color: #FFFFFF;
width: 330px;
 height: 245px;
 top: 30%;
 margin-left: 31.5%;
 margin-bottom: 30%;
 z-index: 1;
}
.hover-overlay3:hover{
  background-color: #9F62C9;
    opacity: 0.5;
  color: #FFFFFF;
  z-index: 1;
}
.waveBG{
  background-image: url("../../assets/sol_wave_bg.svg");
margin-top: 15%;
opacity: 1;
/* transform: matrix(0.12, -0.99, 0.99, 0.12, 0, 0); */
background-size: 100%;
background-repeat: no-repeat;
top: 1209px;
left: 0.0001220703125px;
width: 100%;
height: 40%;
image-resolution: 40%;
}
.quickcash1{
  margin-bottom: 3%;
}
.boost{
  color: #222222;
  font-size: 57px;
  top: 1377px;
left: 1158px;
width: 490px;
height: 98px;
opacity: 1;
margin-left: 60%;
margin-top: -64%;
}
.crafted{
  color: #777777;
  font-size: 22px;
  top: 1561px;
left: 1158px;
width: 490px;
height: 44px;
opacity: 1;
margin-left: 60%;
margin-top: 11%;
}
.accountOpen{
  margin-left: 61%;
  margin-top: 5%;
}
.btn-success{
  text-align: center;
letter-spacing: 0px;
color: #663399;
opacity: 1;
box-shadow: 0px 0px 20px #00000033;
border: 2px solid #663399;
border-radius: 24px;
opacity: 1;
background-color: #FFFFFF !important;
height: 48px;
}
.btn-success:hover{
  background-color: #663399 !important;
  color: white;
}
.getMoney{
  background-color: #663399;
  width: 210px;
  height: 390px;
  float: right;
  margin-right: 4%;
  margin-top: -35%;
  z-index: 1;
  position: relative;
  border-radius: 0px 20px 20px 0px;
  padding: 20px;
}
.loans4{
  margin-top: 35%;
  margin-left: 15%;
  font-size: 20px;
  color:white;
  font-weight: lighter;
}
.loans5{
  font-size: 24px;
  color:white;
  margin-left: 15%;
}
.loans6{
  margin-top: 15%;
  margin-left: 15%;
  font-size: 20px;
  color:white;
  font-weight: lighter;
}
.getMoneyBtn{
  width: 98%;
  z-index: 1;
}

.button1 {
  background-color:#F9F9F9;
  color: #663399;
  border: 2px solid #663399;
  border-radius: 15px;
  margin-top: 10%;
  margin-left: 15%;
  width: 70%;
  height: 70%;

}

.button1:hover {
  background-color:indigo;
  color: white;
}
